body {
    padding: 0;
    margin: 0;
}

.ant-layout-light {
    --body-background: #f7f3e8;
    --header-background: #d2cfc5;
    --shadow-elev: 0 1px 2px rgba(185, 28, 28, 0.10), 0 6px 16px rgba(185, 28, 28, 0.3);
}

.ant-layout-dark {
    --body-background: #0f172a;
    --header-background: #0f172a;
    --shadow-elev: 0 0 0 1px rgba(56, 189, 248, 0.20), 0 10px 24px rgba(56, 189, 248, 0.8), 0 0 18px rgba(56, 189, 248, 0.16);
}


.ant-layout-header {
    background-color: var(--header-background)!important;
}

.ant-layout {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

.ant-layout-content {
    flex: 1;
    padding-bottom: 2rem;
}

.ant-layout-footer {
    padding: 2rem;
}

.ant-layout-inner {
    width: 100%;
    max-width: 80rem;
    margin: 0 auto;
    background-color: var(--body-background);
    box-shadow: var(--shadow-elev);
    padding: 2rem;
    border-radius: .5rem;
}